{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div>
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">
      Edit Your Profile
    </a>
    <h2>Your Bought Cars:</h2>
    {% if bought_cars %}
      <div class="row">
        {% for car in bought_cars %}
          <div class="col-sm-3">
            <div class="card m-2">
              <div class="card-body">
                {% if car.image %}
                  <img src="{{ car.image.url }}" class="card-img-top" alt="...">
                {% else %}
                  <p>There is no image.</p>  
                {% endif %}
                <p class="card-text">{{ car.car_model_name }}</p>
                <p>Brand: {{ car.brand.name }}</p>
                <p>Price: {{ car.car_price }}</p>
                <p>Quantity: {{ car.quantity }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You haven't bought any cars yet.</p>
    {% endif %}
  </div>
{% endblock %}
