{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div>
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">
      Edit Your Profile
    </a>
    <h2>Your Bought Cars:</h2>
    {% if data %}
      <div class="row">
        {% for val in data %}
          <div class="col-sm-3">
            <div class="card m-2">
              <div class="card-body">
                {% if val.car.image %}
                  <img src="{{ val.car.image.url }}" class="card-img-top" alt="...">
                {% else %}
                  <p>There is no image.</p>  
                {% endif %}
                <p class="card-text">{{ val.car.car_model_name }}</p>
                <p>Brand: {{ val.car.brand.name }}</p>
                <p>Price: {{ val.car.car_price }}</p>
                <p>Quantity: {{ val.car.quantity }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You haven't bought any cars yet.</p>
    {% endif %}
  </div>
{% endblock %}
