{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    
    <tbody>
        
      {% for m in data %}
        <tr>
          <th scope="row">{{ m.musician.id }}</th>
          <td>{{m.musician.First_name }} {{m.musician.Last_name }}</td>
          <td>{{ m.musician.email }}</td>
          <td>
            {% if m.Album %}
              {{ m.Ratings }}
            {% else %}
              No album available
            {% endif %}
          </td>
          <td>{{ m.musician.instrument_type }}</td>
          <td>
            {% if m.album %}
              {{ m.album_name }}
            {% else %}
              No album available
            {% endif %}
          </td>
          <td>
            {% if m.album %}
              {{m.release_date|date:"d-M-Y" }}
            {% else %}
              No album available
            {% endif %}
          </td>
          <td>
            {% if m.album %}
              <a href="{% url 'edit_album' id=musician.album.id %}" class="btn btn-warning">Edit</a>
            {% else %}
              No album available
            {% endif %}
            <a href="#" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{data.musician.album_name}}
{% endblock %}
