{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
  <div class="col-6">
    <h1>Welcome to  Car Sales market</h1>
    <p>
      Welcome to our premier online destination for automotive excellence! Explore a world of unparalleled quality and variety as you step into the virtual showroom of [Your Company Name]. Our car sale homepage is your gateway to a seamless and enjoyable car-buying experience.</p>
  </div>

  <div class="col-6">
    <img src="{% static 'static.webp' %}" />
      </div>
</div>
<div class="container gap-3">
  <div class="row gap-3">
    <div class="col-md-6 gap-3">
      <div class="bg-white p-3 gap-5">
        <h5>All Brands</h5>
        <div class="form-check">
          {% for brand in brands %}
          <input type="checkbox" class="btn-check" id="{{ brand.id }}" autocomplete="off">
          <label class="btn btn-primary" for="{{ brand.id }}">
            <a href="{% url 'brand_wise_post' brand.slug %}" class="text-decoration-none text-dark">{{ brand.name }}</a>
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="col-10 p-3">
    <h4>{{ data | length }} results found</h4>
    <div class="d-flex flex-wrap pt-5">
      {% for car in data %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
            {% if car.image %}
              <img src="{{ car.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <p>there is no image<p/>  
            {% endif %}
            <p class="card-text">{{ car.car_model_name }}</p>
            <p>Brand: {{ car.brand.name }}</p>
            <p>Price: {{ car.price }}</p>
            <p>Quantity: {{ car.quantity }}</p>
            <h5 class="card-title"><a href="{% url 'detail_post' car.id %}" class="text-decoration-none text-dark">View Details</a></h5>

            {% if user.is_authenticated %}
              <a href="{% url 'buy_car' car.id %}" class="btn btn-primary">Buy Now</a>
            {% endif %} 
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
